html, body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
}

.content {
  flex: 1;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 130px;
  align-items: center;
}

.block {
  width: 70%;
  padding: 20px;
  border: 2px solid #000;
  box-sizing: border-box;
  text-align: center;
}